<h3>Offers list</h3><br><br>
<div>
  <h4><font color=green>{{successMessage }}</font></h4><br>
  <h4><font color=red>{{errorMessage}}</font></h4>
   <div class="reglist">
  
            <table class="table table-striped">
            <thead>
            <tr>
            <th>Offer Id</th>
            <th>Room Type</th>
            <th>Offer Name</th>
            <th>Offer From Date</th>
            <th>Offer To Date</th>
            <th>Offer</th>
            <th>Discount Percentage</th>
            <th>Edit</th>
            <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let o of offer; let i = index">
            <td>{{o.offerId}}</td>
            <td>{{o.roomType}}</td>
            <td>{{o.offerName}}</td>
            <td>{{o.offerFromDate}}</td>
            <td>{{o.offerToDate}}</td>
            <td>{{o.offerDetails}}</td>
            <td>{{o.discountPercentage}}</td>
      
            <td><button type="button" class="btn btn-info" (click)="editOffer(o.offerId)">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteOffer(o.offerId)">Delete</button></td>
            </tr>
            </tbody>
            </table>
      </div>
     <a href="offeroperations"><button class="btn btn-primary">Back</button></a>
</div>